<!DOCTYPE html>
<html>
  <head>
    <title>ToDo List</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <header id="header">
      <h2>To Do List</h2>
    </header>
    <main>
      <div class = "container">
        {{#todos}}
          <p>{{complete}} {{name}}</p>
        {{/todos}}
      </div>
      <form action="/" method="post">
        <input type="text" name="todo" placeholder="Post a New ToDo Item"/>
        <button type="submit">Submit</button>
      </form>
    </main>
  </body>
</html>
