<!DOCTYPE html>
<html>
  <head>
    <title>ToDo List</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <header id="header">
      <h2>To Do List:</h2>
    </header>
    <main>
      <div class = "container">
        {{#todos}}
          {{^complete}}
          <form action="/change/{{name}}" method="post" class="todoForm">
            
            <label for="done">{{name}}</label>
            <button type="submit" name="done" value={{name}}>Done</button>
          </form>
          {{/complete}}
        {{/todos}}
      </div>
      <form action="/" method="post" id="addItem">
        <input type="text" name="todo" placeholder="Post a New ToDo Item"/>
        <button type="submit" value="test">Submit</button>
      </form>
      <h3>Completed Items:</h3>
      <div class = "done">
        {{#todos}}
          {{#complete}}
          <p class="completed-items">{{name}}</p>
          {{/complete}}
        {{/todos}}
      </div>
    </main>

  </body>
</html>
